{
  "presets": [["@babel/preset-env", {"modules": false}], "@babel/react"],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }],
        "@babel/react"
      ]
    }
  }
}
